# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Michael\Desktop\Incoherent-Light-Simulation-master\Incoherent-Light-Simulation-master\double_slit_simulations\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
